.bannerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	width: 100%;
	margin-bottom: 25px;
	background-color: black;
	padding-bottom: 35px;
	border-bottom: 4px solid rgb(58, 58, 58);
	border-top: 4px solid rgb(58, 58, 58);
}

.bannerImage {
	width: 600px;
	object-fit: cover;
}

.bannerText {
	color: yellow;
	font-size: 26px;
	width: 85%;
	text-align: center;
	line-height: 1.5;
	margin: 0;
}

@media (min-width: 320px) {
	.bannerContainer {
		margin-top: 40px;
		margin-bottom: 25px;
		padding-bottom: 35px;
	}

	.bannerImage {
		width: 290px;
	}

	.bannerText {
		font-size: 16px;
	}
}

@media (min-width: 450px) {
	.bannerImage {
		width: 340px;
	}

	.bannerText {
		font-size: 20px;
	}
}

@media (min-width: 530px) {
	.bannerImage {
		width: 360px;
	}

	.bannerText {
		font-size: 21px;
	}
}

@media (min-width: 700px) {
	.bannerImage {
		width: 400px;
	}

	.bannerText {
		font-size: 23px;
	}
}

@media (min-width: 1000px) {
	.bannerImage {
		width: 450px;
	}

	.bannerText {
		font-size: 23px;
	}
}

@media (min-width: 1300px) {
	.bannerImage {
		width: 470px;
	}

	.bannerText {
		font-size: 23px;
	}
}

@media (min-width: 2000px) {
	.bannerContainer {
		padding-bottom: 60px;
	}

	.bannerImage {
		width: 500px;
	}

	.bannerText {
		font-size: 23px;
	}
}