.videoSectionContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 800px;
	width: 100%;
	padding-top: 30px;
	margin-top: 30px;
	background-color: black;
	border-bottom: 4px solid rgb(58, 58, 58);
	border-top: 4px solid rgb(58, 58, 58);
}

.imageAndLogoContainer {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logoText {
	color: yellow;
	font-size: 42px;
	margin: 0;
}

.videoSectionImage {
	width: 47%;
}

.video {
	height: 100%;
	width: 38%;
	border-radius: 35px;
	object-fit: cover;
	object-position: 50% 20%;
}

@media (min-width: 320px) {
	.videoSectionContainer {
		flex-direction: column;
		width: 100%;
		height: fit-content;
		margin-top: 45px;
		padding-top: 20px;
		padding-bottom: 45px;
	}

	.logoText {
		margin-top: 10px;
		margin-bottom: -30px;
		z-index: 1;
		font-size: 35px;
	}

	.videoSectionImage {
		width: 82%;
		margin-bottom: 8px;
	}

	.video {
		width: 78%;
		border-radius: 10px;
	}
}

@media (min-width: 450px) {
	.logoText {
		margin-bottom: -35px;
		font-size: 40px;
	}

	.videoSectionImage {
		width: 72%;
		margin-bottom: 10px;
	}

	.video {
		width: 72%;
	}
}

@media (min-width: 530px) {
	.videoSectionImage {
		width: 65%;
	}

	.video {
		width: 60%;
	}
}

@media (min-width: 700px) {
	.logoText {
		margin-top: 30px;
		margin-bottom: -50px;
		font-size: 44px;
	}

	.videoSectionImage {
		width: 56%;
		margin-bottom: 22px;
	}

	.video {
		width: 62%;
		margin-bottom: 20px;
	}
}

@media (min-width: 800px) {

	.logoText {
		font-size: 47px;
	}

	.videoSectionImage {
		width: 52%;
		margin-bottom: 18px;
	}

	.video {
		width: 55%;
	}
}

@media (min-width: 1000px) {
	.logoText {
		font-size: 50px;
	}

	.videoSectionImage {
		width: 49%;
		margin-bottom: 18px;
	}

	.video {
		width: 45%;
		margin-bottom: 23px;
	}
}

@media (min-width: 1300px) {
	.videoSectionContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		height: 800px;
		width: 100%;
		margin-top: 90px;
		padding-top: 70px;
		padding-bottom: 50px;
		padding-right: 30px;
	}

	.imageAndLogoContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 70%;
	}

	.video {
		height: 100%;
		width: 35%;
		border-radius: 35px;
		object-fit: cover;
		object-position: 50% 20%;
		padding: 10px;
		margin-right: 30px;
	}
}

@media (min-width: 2000px) {
	.video {
		width: 38%;
	}
}

@media (min-width: 3000px) {
	.imageAndLogoContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 55%;
	}

	.video {
		width: 28%;
	}
}

@media (min-width: 3300px) {
	.videoSectionContainer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 1000px;
	}

	.imageAndLogoContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 38%;
	}

	.logoText {
		font-size: 67px;
	}

	.videoSectionImage {
		width: 52%;
		margin-bottom: 18px;
	}

	.video {
		width: 13%;
	}
}

@media (min-width: 4000px) {
	.videoSectionContainer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 1000px;
	}

	.imageAndLogoContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 38%;
	}

	.logoText {
		font-size: 67px;
	}

	.videoSectionImage {
		width: 52%;
		margin-bottom: 18px;
	}

	.video {
		width: 13%;
	}
}